ion-content ion-toolbar {
  --background: translucent;
}

ion-card-content{
  padding: 10px;
}

ion-card-header{
  padding-top: 0;
}

ion-card-title{
  font-size: 10px;
  text-align: right;
  font-style: italic;
  color: #bd1c1c
}
ion-card-subtitle{
  padding-top: 10px;
  font-size: 16px;
  font-weight: bold;
  
}

ion-card-subtitle span{
  font-size: 10px;
  text-align: left;
  font-style: italic;
  color: #bd1c1c
}