<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Feed
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card *ngFor="let message of displayMessage">
    <ion-card-content *ngIf="message.imageUrl">
      <ion-img src="{{message.imageUrl}}"></ion-img>
    </ion-card-content>
    <ion-card-header>
      <ion-card-subtitle>
        {{message.text}}
      </ion-card-subtitle>
      <ion-card-title>
        {{message.from}}
        <br>
        <span>{{message.createdOn | date:'MMMM/dd/yyyy hh:mm' }}</span>
      </ion-card-title>
      
    </ion-card-header>
  </ion-card>

</ion-content>
